.heading1 {
    font-size: 3rem;
    /* width: 0rem !important; */
    padding-top: 50rem !important;

}

.head1 {
    font-size: 1.4rem !important;
}

.cart-box {
    display: flex;
    flex-direction: row;

}

.div {
    width: 100%;
    background-image: url("../../../public/image/1.jpg") !important;
    position: fixed;
    z-index: 0;
    background-size: cover;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    height: 108vh;
    color: white;
    font-weight: 900;
}

.com-name {
    font-size: 1.4rem;
    margin: 5px;
}

.company-name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}

.text-cc {
    color: #D6B981;
}

.img {
    position: relative;
    width: 32rem;
    height: 42rem;
    margin-bottom: 3rem;
}

.text-p {
    text-align: justify;
    font-size: 1.4rem;
}

.bx {
    height: auto;
    width: 37rem;
    position: absolute;
    margin-top: 33rem;
    margin-left: 18rem;
    background: #D6B981;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;

}

.t-box {
    height: auto;
    margin-top: '10px';
}

.ttbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.icons {
    color: #D6B981;
}

.contact-div {
    width: 100%;
    background-image: url("../../../public/image/1.jpg") !important;
    position: fixed;
    z-index: 0;
    background-size: cover;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    height: 109vh;
    color: white;

}

.icon-box {
    margin: 1rem;
}

.icon-1 {
    color: rgb(82, 82, 232);
    font-size: 2.5rem;
}

.icon-2 {
    color: rgb(233, 9, 84);
    font-size: 2.5rem;

}

.icon-3 {
    color: rgb(9, 173, 233);
    font-size: 2.5rem;

}

.icon-4 {
    color: rgb(59, 59, 196);
    font-size: 2.5rem;

}

.icon-5 {
    color: rgb(10, 246, 10);
    /* margin-top: px !important; */
    font-size: 2.5rem;

}

@media only screen and (max-width: 1024px) {

    .icon-box {
        margin: 0.9rem;
    }

    .img {
        position: relative;
        width: 28rem;
        height: 37rem;
        margin-bottom: 3rem;
    }

    .bx {
        height: auto;
        width: 33rem;
        position: absolute;
        margin-top: 29rem;
        margin-left: 18rem;
        background: #D6B981;
        color: white;
        padding: 1rem;
        font-size: 1.1rem;

    }

    .text-p {
        text-align: justify;
        font-size: 1.3rem;
    }

    .heading1 {
        font-size: 2.5rem;
    }

    .com-name {
        font-size: 1.3rem;
        margin: 4.5px;
    }

}

@media only screen and (max-width: 991px) {

    .img {
        position: relative;
        width: 27rem;
        height: 36rem;
        /* margin-bottom: rem; */
    }

    .heading1 {
        font-size: 2.4rem;
    }

    .com-name {
        font-size: 1.2rem;
        margin: 4.4px;
    }

    .text-p {
        text-align: justify;
        font-size: 1.2rem;
    }

    .icon-box {
        margin: 0 !important;
    }
}

@media only screen and (max-width: 900px) {

    .img {
        position: relative;
        width: 25rem;
        height: 37rem;
        /* margin-bottom: rem; */
    }

    .heading1 {
        font-size: 2.4rem;
    }

    .bx {
        height: auto;
        width: 30rem;
        position: absolute;
        margin-top: 28rem;
        margin-left: 15rem;
        background: #D6B981;
        color: white;
        padding: 1rem;
        font-size: 1rem;

    }

    .com-name {
        font-size: 1.2rem;
        margin: 4.4px;
    }

    .company-name {
        font-size: 1rem !important;
        /* display: none; */
    }

    .text-p {
        text-align: justify;
        font-size: 1rem;
    }

    .icon-box {
        margin: 0 !important;
    }
}

@media only screen and (max-width: 805px) {

    .img {
        position: relative;
        width: 20rem;
        height: 33rem;
    }

    .bx {
        height: auto;
        width: 28rem;
        position: absolute;
        margin-top: 25rem;
        margin-left: 13rem;
        background: #D6B981;
        color: white;
        padding: 1rem;
        font-size: 1rem;

    }

    .heading1 {
        font-size: 2.4rem;
    }

    .com-name {
        font-size: 1.2rem;
        margin: 4.4px;
    }

    .company-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-p {
        text-align: justify;
        font-size: 0.9rem;
    }

    .icon-box {
        margin: 0 !important;
        padding: 0;
    }

}

@media only screen and (max-width: 700px) {

    .img {
        position: relative;
        width: 21rem;
        height: 33rem;
        /* margin-bottom: rem; */
    }

    .cart-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .bx {
        display: none
    }

    .heading1 {
        font-size: 2.4rem;
    }

    .com-name {
        font-size: 1.2rem;
        margin: 4.4px;
    }

    .text-p {
        text-align: justify;
        font-size: 0.9rem;
    }

    .icon-box {
        margin: 0 !important;
        padding: 0;
    }

    .ttbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;


    }
}

@media only screen and (max-width: 350px) {

    .img {
        position: relative;
        width: 8rem;
        height: 12rem;
        /* margin-bottom: rem; */
    }

    .cart-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .bx {
        display: none
    }

    .heading1 {
        font-size: 2.4rem;
    }

    .com-name {
        font-size: 1.2rem;
        margin: 4.4px;
    }

    .text-p {
        text-align: justify;
        font-size: 0.9rem;
    }

    .icon-box {
        margin: 0 !important;
        padding: 0;
    }
}